@import url("https://fonts.googleapis.com/css2?family=Cuprum&family=Suez+One&display=swap");

.u-richtext-invert > * {
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* background-color: rgba(197, 40, 40, 0.6); */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto; */
  /* width: calc(100% - 200px); */
  /* max-width: 640px; */
  /* min-height: 100vh; */
}

.inner_box {
  background-color: rgb(29, 205, 159, 0.33);
  border-radius: 40px;
  padding: 15px;
}

#home {
  font-family: "Suez One", serif;
  font-size: 54px;
}

#home .highlight {
  color: #ffe037;
  font-size: 70px;
}

#experience .highlight {
  font-family: "Suez One", serif;
  color: #ffe037;
  font-size: 70px;
}

.pro-image {
  height: 80px;
  /* width: auto; */
}

.text-center-vh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-1 {
  background-color: rgb(29, 205, 159);
  height: 100vh;
  color: #ffffff;
}

.bg-2 {
  padding-top: 25px;
  background-color: #474e5d;
  height: 100vh;
  color: #ffffff;
  /* font-family: "Cuprum", sans-serif; */
  font-size: 20px;
}

.arrow {
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid yellow;
  border-right: 5px solid yellow;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
